<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>

    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-3.3.1.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/modernizr-2.6.2.js"></script>
    <script src="~/Scripts/modernizr-2.8.3.js"></script>
    @RenderSection("head", required: false)
</head>
<body>
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header navbar-nav">
                <a href="/Home/Index" class="nav navbar-left"><h3><strong>NullPointer.Com</strong></h3></a>
            </div>
            <div class="nav nav-divider col-md-3">
                <form class="navbar-form navbar-left " id="search" action="/Home/Search">
                    <div class="form-group">
                        <input class="form-control" placeholder="Search" />
                    </div>
                    <div class="navbar-form form-control">
                        <button class="btn btn-success glyphicon glyphicon-search" type="submit"></button>
                    </div>
                </form>
            </div>
            <div class="nav navbar-brand">
                <a href="/Member/AskQuestion" class="btn btn-info">Ask Question</a>
            </div>
            <div class="navbar-btn navbar-right">
                <ul class="list-group">
                    <li class="btn">
                        <a href="/Member/SignUp" class="btn btn-info">Login/Signup</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="container body-content">
        <div class="container col-md-2">
            <div class="right">
                <ul class="list-group right">
                    <li class="list-group-item right text-right" style="border:hidden"><a href="/Home/Index" class="text-capitalize alert-link h4" style="cursor:pointer">NullPointer</a></li>
                    <li class="list-group-item right text-right" style="border:hidden"><a href="/QuAnCoTa/TagList" class="text-capitalize alert-link h4" style="cursor:pointer">Tags</a></li>
                </ul>
            </div>
        </div>
        <div class="container col-md-10">
            @RenderBody()
            <hr />
            <footer>
                <div class="container-fluid">
                    <div class="row col-md-10">
                        <div class="col-md-12 col-md-offset-4">
                            <p>&copy; @DateTime.Now.Year - Could Not Be Developed By Niğmet Ali 😓</p>
                        </div>
                    </div>
                </div>
            </footer>
        </div>
    </div>

    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/jquery-3.3.1.min.js"></script>
    <script src="~/Scripts/modernizr-2.6.2.js"></script>
    <script src="~/Scripts/modernizr-2.8.3.js"></script>
    @RenderSection("scripts", required: false)

</body>
</html>