
@{
    ViewBag.Title = "Question Details";
}
@using NigmetAli.Classes

@model Question

<script src="~/Scripts/jquery-3.3.1.min.js"></script>

<link href="~/Scripts/NPCss/score.css" rel="stylesheet" />   @*For NumericUpDown*@
<div class="container col-md-10">
    <div class="row col-md-2 text-center">
        <div class="input-group spinner col-md-1">
            <div class="btn">
                <button class="input-group plus">
                    <span class="img-rounded"><i class="glyphicon glyphicon-arrow-up"></i></span>
                </button>
            </div>
            <div class="btn">
                <span class="img-rounded"><input class="Qvalue" type="text" value="@Model.Score" style="width:30px;text-align:center" readonly /></span>
            </div>
            <div class="btn">
                <button class="input-group negative">
                    <span class="img-rounded"><i class="glyphicon glyphicon-arrow-down"></i></span>
                </button>
            </div>
            @*<div class="input-group-btn-vertical">
                    <button class="btn btn-default" type="button"><i class="fa fa-plus"></i></button>
                    <button class="btn btn-default" type="button"><i class="fa fa-minus"></i></button>
                </div>*@
        </div>
    </div>
    <div class="row col-md-10">
        <ul class="list-group">
            <li class="list-group-item">
                <a href="/QuAnCoTa/QuestionDetails?id=@Model.Id" class="btn-link h3">@Model.Description</a>
            </li>
            <li class="list-group-item">
                <code spellcheck="true" style="display:block;white-space:pre-wrap">@Model.CodeArea</code>
            </li>
            @{
                string[] words = Model.Tags.Split(Convert.ToChar(" "));
                <li class="list-group-item">
                    @{
                        foreach (string word in words)
                        {
                            if (word != "")
                            {
                                var url = HttpUtility.UrlEncode(word);
                                <a href="/QuAnCoTa/Tag?TName=@url" name="TagName" class="btn-link bg-success" style="border-style:solid;border:1px solid;border-radius:3px;color:cadetblue">@word</a>
                            }
                        }
                    }
                </li>
            }
        </ul>
        @if (ViewBag.Comments != null)
        {
            <ul class="list-group text-right">
                @foreach (Comment comment in ViewBag.Comments)
                {
                    <li class="list-group-item text-left h6">
                        by - @comment.Member.userName
                        <p class="text-right"> @comment.Description</p>
                    </li>
                }
            </ul>
        }
        <div class="right">
            <form class="form-group" action="/QuAnCoTa/QuestionDetails?qId=@Model.Id" method="post" role="form">
                <span><i class="glyphicon glyphicon-comment"></i></span>
                <input class="text-primary form-control" type="text" placeholder="Add a comment" name="NewComment" />
                <button class="btn btn-success right" type="submit">Submit</button>
            </form>
        </div>
    </div>
</div>
@if (ViewBag.Answers != null)
{
    <div class="container col-md-10">
        <div class="col-md-12">
            <ul class="list-group">
                <li class="list-group-item text-center h4"><strong class="text-success">Answers</strong></li>
            </ul>
        </div>
        @foreach (var answer in ViewBag.Answers)
        {
            <div class="row col-md-2 text-center">
                <div class="input-group spinner col-md-1">
                    <div class="btn">
                        <button id="plus_@answer.Id" class="input-group plus">
                            <span class="img-rounded"><i class="glyphicon glyphicon-arrow-up"></i></span>
                        </button>
                    </div>
                    <div class="btn">
                        <span class="img-rounded"><input id="score_@answer.Id" type="text" value="@answer.Score" style="width:30px;text-align:center" readonly /></span>
                    </div>
                    <div class="btn">
                        <button id="negative_@answer.Id" class="input-group negative">
                            <span class="img-rounded"><i class="glyphicon glyphicon-arrow-down"></i></span>
                        </button>
                    </div>
                </div>
            </div>
            <div class="row col-md-10">
                <ul class="list-group">
                    <li class="list-group-item text-right">
                        by - @answer.Member.userName
                    </li>
                    <li class="list-group-item">
                        @answer.Description
                    </li>
                    <li class="list-group-item">
                        <code style="display:block;white-space:pre-wrap">@answer.CodeArea</code>
                    </li>
                </ul>
                @if (ViewBag.AllComments != null)
                {
                    <ul class="list-group text-right">
                        @foreach (Comment comment in ViewBag.AllComments)
                        {
                            if (comment.AnswerId == answer.Id)
                            {
                                <li class="list-group-item text-left h6">
                                    by - @comment.Member.userName
                                    <p class="text-right"> @comment.Description</p>
                                </li>
                            }
                        }
                    </ul>
                }
            </div>
            <div class="col-md-12">
                <form class="form-group" action="/QuAnCoTa/QuestionDetails?aId=@answer.Id&qId=@Model.Id" method="post" role="form">
                    <span><i class="glyphicon glyphicon-comment"></i></span>
                    <input class="text-primary form-control" type="text" placeholder="Add a comment" name="NewAnswerComment" />
                    <button class="btn btn-success right" type="submit">Submit</button>
                </form>
            </div>
        }
    </div>
}
<div class="container col-md-10">
    <div class="row col-md-12">
        <ul class="list-group">
            <li class="list-group-item h2">
                <strong class="text-info">Your Answer</strong>
            </li>
        </ul>
        <div>
            <form class="form-group" action="/QuAnCoTa/QuestionDetails?qId=@Model.Id" method="post" role="form">
                <span><i class="glyphicon glyphicon-tasks"></i></span>
                <input class="form-control" type="text" placeholder="Type Your Answer Description" name="NewAnswerDescription" />
                <code spellcheck="true" style="white-space:pre-wrap"><textarea class="text-nowrap form-control" name="NewAnswerCode"></textarea></code>
                <button class="btn btn-success ansbutton" type="submit">Submit</button>
            </form>
        </div>
    </div>
</div>
@*(function ($) {
      $('.spinner .btn:first-of-type').on('click', function() {
        $('.spinner input').val( parseInt($('.spinner input').val(), 10) + 1);
      });
      $('.spinner .btn:last-of-type').on('click', function() {
        $('.spinner input').val( parseInt($('.spinner input').val(), 10) - 1);
      });
    })(jQuery);*@
<script>
    /* For Question */
    $(".plus").click(function () {
        $.ajax({
            type: "POST",
            url: "/QuAnCoTa/AddScore",
            success: function (response) {
                location.reload();
            },
            error:
                function () {

                alert('Something Went Wrong');
                }
        });
        //$(".Qvalue").val(parseInt($(".Qvalue").val(), 10) + 1);
    });
    $(".negative").click(function () {
        $(".Qvalue").val(parseInt($(".Qvalue").val(), 10) - 1);
    });
    /* For Answers */
    $(".plus").click(function () {
        var id = $(this).attr('id');
        $('#score_' + id.split('_')[1]).val(parseInt($('#score_' + id.split('_')[1]).val(), 10) + 1);
    }); 
    $(".negative").click(function () {
        var id = $(this).attr('id');
        $('#score_' + id.split('_')[1]).val(parseInt($('#score_' + id.split('_')[1]).val(), 10) - 1);
    });
</script>